{% extends 'base.html.twig' %}

{% block title %}Réponses{% endblock %}

{% block body %}
    <h3>Réponses</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Réponse Utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.AnswerUser }}</td>
                <td>
                    <a href="{{ path('app_answer_show', {'id': answer.id}) }}">voir</a>
                    <a href="{{ path('app_answer_edit', {'id': answer.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_answer_new') }}">Créer nouveau</a>
{% endblock %}
