{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}
    <h3>Fil d'actualité</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Score Utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play in plays %}
            <tr>
                <td>{{ play.id }}</td>
                <td>{{ play.ScoreUser }}</td>
                <td>
                    <a href="{{ path('app_play_show', {'id': play.id}) }}">voir</a>
                    <a href="{{ path('app_play_edit', {'id': play.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_play_new') }}">Créer un nouveau quizz</a>
{% endblock %}
