{% extends 'base.html.twig' %}

{% block title %}Play index{% endblock %}

{% block body %}
    <h1>Play index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ScoreUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play in plays %}
            <tr>
                <td>{{ play.id }}</td>
                <td>{{ play.ScoreUser }}</td>
                <td>
                    <a href="{{ path('app_play_show', {'id': play.id}) }}">show</a>
                    <a href="{{ path('app_play_edit', {'id': play.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_play_new') }}">Create new</a>
{% endblock %}
