{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h2>Jouer</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ play.id }}</td>
            </tr>
            <tr>
                <th>Score Utilisateur</th>
                <td>{{ play.ScoreUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_play_index') }}">Retour à la liste</a>

    <a href="{{ path('app_play_edit', {'id': play.id}) }}">Modifier</a>

    {{ include('play/_delete_form.html.twig') }}
{% endblock %}
