{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h3>Questions</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Enoncé</th>
                <th>Reponse</th>
                <th>Image</th>
                <th>Reponse Correcte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.Wording }}</td>
                <td>{{ question.Answers }}</td>
                <td>{{ question.Image }}</td>
                <td>{{ question.CorrectAnswer }}</td>
                <td>
                    <a href="{{ path('app_questions_show', {'id': question.id}) }}">voir</a>
                    <a href="{{ path('app_questions_edit', {'id': question.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_questions_new') }}">Créer nouveau</a>
{% endblock %}
