{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="content">
    
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <h2>Nous contacter</h2>
          <p class="mb-5">Utiliser ce formulaire afin de nous contacter, n'hesitez pas à nous faire part de votre avis.</p>

          <ul class="list-unstyled pl-md-5 mb-5">

            <li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +33 00 00 00 00 00</li>
            <li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o"></span></span> IQuestions716@gmail.com </li>
          </ul>
        </div>

        <div class="col-md-6">
        <div class="row">
              
            <div class="col-md-12 form-group">
            {{ form_start(our_form) }}
		    {{ form_row(our_form.fullName, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
              
            <div class="col-md-12 form-group">
            {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
              
            <div class="col-md-12 form-group">
            {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

		<div class="form-group">
		<input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
		</div>
		{{ form_end(our_form) }}
		</div>	
        </div>
        </div>
    </div>

{% endblock %}