{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Pseudo</th>
                <th>ProfilePicture</th>
                <th>ThemePref</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.Pseudo }}</td>
                <td>{{ user.ProfilePicture }}</td>
                <td>{{ user.ThemePref }}</td>
                <td>{{ user.Age }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Créer nouveau</a>
{% endblock %}
