{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h3>Quizz</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Theme</th>
                <th>Difficulté</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.Theme }}</td>
                <td>{{ quizz.Difficulty }}</td>
                <td>
                    <a href="{{ path('app_quizz_show', {'id': quizz.id}) }}">voir</a>
                    <a href="{{ path('app_quizz_edit', {'id': quizz.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quizz_new') }}">Créer nouveau</a>
{% endblock %}
